.about-holder {
  padding: 0 16px 40px;

  .about {
    display: grid;
    max-width: 1440px;
    min-height: 600px;
    grid-template-columns: 1fr;

    .mobile & {
      display: flex;
      flex-direction: column;
    }

    > div {
      overflow: hidden;

      &.about-content {
        font-size: 18px;
        line-height: 24px;
        max-width: 900px;
        margin-top: -80px;

        .mobile & {
          margin-top: 40px;
        }
      }

      &.about-image {
        display: flex;
        border-radius: 20px;
        justify-content: center;

        img {
          width: 240px;
          height: 100%;
          max-width: 100%;
          object-fit: contain;
          object-position: top;
        }
      }
    }
  }
}