.donate-page-holder {
  width: 100%;
  display: flex;
  padding: 0 16px 100px;
  flex-direction: column;
}

.donate-page {
  gap: 50px;
  width: 100%;
  margin: auto;
  display: grid;
  max-width: 1440px;

  .mobile & {
    overflow: hidden;
  }

  .page-poster {
    img {
      width: 100%;
    }
  }

  .donate-qr {
    img {
      width: 250px;
    }
  }

  .page-info {
    gap: 40px;
    display: flex;

    .mobile & {
      flex-direction: column;
    }

    .bank-info {
      gap: 10px;
      display: flex;
      margin-top: 6px;
      flex-direction: column;
    }
  }
}
