.footer-holder {
  color: white;
  padding: 50px 16px;
  background: var(--primary-color);

  .footer {
    gap: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .follow-us {
      gap: 20px;
      display: flex;

      .social-icon-holder {
        &:hover {
          img {
            transform: scale(1.06);
          }
        }
      }

      a {
        padding: 8px;
        display: flex;
        background: white;
        border-radius: 8px;
      }

      img {
        margin: auto;
        height: 26px;
        transition: 300ms;
      }
    }

    .mobile & {
      flex-direction: column;
    }

    .info-title {
      font-size: 24px;
      margin-bottom: 12px;
    }

    ul {
      gap: 10px;
      display: flex;
      list-style: none;
      flex-direction: column;

      li {
        a {
          display: flex;
          align-items: center;

          img {
            width: 80px;
            margin-inline-start: 8px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
